<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cz.boggle"
    android:versionCode="3"
    android:versionName="1.2" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="cz.boggle.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="cz.boggle.PlayActivity"
            android:label="@string/title_activity_play"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cz.boggle.ResultActivity"
            android:label="@string/title_activity_result"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cz.boggle.LoginActivity"
            android:label="@string/title_activity_login"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize|stateVisible" 
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cz.boggle.RulesActivity"
            android:label="@string/title_activity_rules" 
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>